.divLogin {
    left:50%;
    top:50%;
    margin-left:-108px;
    margin-top:-72px; 
    position:absolute;
    width:220px;    
    height:130px; 
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial;
    color: white;
    
    


}

body{
    background-image: url(https://s2.glbimg.com/Jg88y4yRZV2YiqlXf_cWDMJZoPI=/e.glbimg.com/og/ed/f/original/2019/12/03/stars-1246590_1920.jpg);
  
}   
input{
    margin: 8px;
    border-radius: 4px;
    border: 3.5px;
    border-color:black;
    border-style:outset;
    font-size: 15;

}  

    
.img{

    left:50%;
    top:50%;
    margin-left:520px;
    margin-top:220px; 
    width: 30%;
    
}

button{

    border: 3.5px;
    border-color: black;
    border-style: solid;
    background-color: white;
    border-radius: 8px;
    width: 70%;
    margin-left: 23.5px;
    margin-bottom: 3px;
    font-size: 15;
    cursor: pointer;
}

